<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_recallify_logo_final_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recallify"
        tools:targetApi="31">
        <activity
            android:name=".view.ui.feature.application.tbi_applications.sidequest.SideQuestGameSelectorDate"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!-- push notification -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_recallify_foreground" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />

        <activity
            android:name=".view.ui.feature.guradian_application.guardiansidequest.GuardianDisplayResultsSideQuest"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.ui.feature.guradian_application.guardiansidequest.GuardianSelectDateScoreSideQuest"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.ui.feature.guradian_application.guardiansidequest.GuardianSelectDateAnalyzeProgressSideQuest"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.ui.feature.guradian_application.guardiansidequest.GuardianAnalyzeProgressSideQuest"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.ui.feature.application.tbi_applications.thinkfast.SelectDateScoreThinkFast"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.ui.feature.application.dailydiary.conversationSummary.ConfirmScreenSummarizeConversation"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.ui.feature.application.tbi_applications.sidequest.AnalyzeProgressSideQuest"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.ui.feature.application.tbi_applications.sidequest.SelectDateAnalyzeSideQuestprogress"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.ui.feature.application.tbi_applications.thinkfast.AnalyzeProgress"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.ui.feature.application.tbi_applications.thinkfast.SelectDateAnalyzeProgressThinkFast"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service android:name=".view.ui.feature.application.tbi_applications.dashboard.NotificationService" />

        <activity
            android:name=".view.ui.feature.application.tbi_applications.dailydiary.daily_log.DailyLogActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.dailydiary.conversationSummary.SummarizeConversation"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.sidequest.AnalyzeProgressActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.sidequest.SideQuestDisplayResultActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.sidequest.SideQuestQuizActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.sidequest.SideQuestLoadingActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.sidequest.SideQuestAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.sidequest.SideQuestProgressActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.thinkfast.ProgressActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.thinkfast.ThinkfastAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.thinkfast.ThinkfastProgressActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.thinkfast.DisplayResultsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.thinkfast.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.thinkfast.DisplayImageActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.dailydiary.daily_activity.DailyActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.dailydiary.moment_snap.MomentSnapActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.thinkfast.ThinkFastLoadingActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.thinkfast.ThinkfastRulesActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.accounts.AccountsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.guradian_application.guardian_account.GuardianAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.dailydiary.DailyDiaryActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.guradian_application.guardiandailydiary.GuardianDailyDairyActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.guradian_application.guardiandashboard.GuardiansDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.sidequest.SideQuestActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.guradian_application.guardiansidequest.GuardianSideQuestActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.thinkfast.ThinkFastActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.guradian_application.guardianthinkfast.GuardianThinkFastActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.guradian_application.mainsettingpages.GuardianMainSettings"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.tbimainsettings.MainSettingsTBI"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.guradian_application.mainsettingpages.PrivacyAndSecurity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.tbimainsettings.PrivacyAndSecurityTBI"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.guradian_application.mainsettingpages.TermsAndConditions"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.tbimainsettings.TermsAndConditionsTBI"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.guradian_application.mainsettingpages.HelpAndSupport"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.application.tbi_applications.tbimainsettings.HelpAndSupportTBI"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.guradian_application.guardianthinkfast.GuardianSelectDateAnalyzeProgressThinkFast"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.guradian_application.guardianthinkfast.GuardianAnalyzeProgressThinkFast"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.guradian_application.guardianthinkfast.GuardianSelectDateScoreThinkFast"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.guradian_application.guardianthinkfast.GuardianDisplayResultsThinkFast"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.security.forgotpassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.security.signup.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.feature.security.signin.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>